<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <div class="header-logo">
            <h1>WebStudy</h1>
        </div>
        <div class="header-nav">
            <nav class="header-nav-cate">
                <a href="#">강의</a>
                <a href="#">로드맵</a>
                <a href="#">멘토링</a>
                <a href="#">커뮤니티</a>
            </nav>
            <div class="header-search">
                <input type="text" placeholder="검색어를 입력하세요...">
                <button>검색</button>
            </div>
            <button ></button>
        </div>
    </th:block>
</html>